/**
* #.# Styles
*
* CSS for both Frontend+Backend.
*/

// local imports
@import "../../common/sass/global";

.s4tw-dynablocks-hero-section-wrapper {
  overflow: hidden;
  .content {
    h2 {
      white-space: nowrap !important;
      font-family: inherit;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      span {
        > div {
          display: inline;
        }
        display: inline;
      }
    }
  }
  .wrapper {
    .hero-container {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      .dimmer-filter {
        height: 100%;
      }
    }
  }
}
