/**
* #.# Styles
*
* CSS for both Frontend+Backend.
*/

// local imports
@import '../../common/sass/reset';
@import '../../common/sass/global';

.s4tw-dynablocks-hero-section {
  overflow: hidden;
  .wrapper{
    .hero-container{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      .dimmer-filter{
        height: 100%;
        .content {
          position: relative;
          transform: translateX(-50%) translateY(-50%);
          h2, button {
            font-family: inherit;
          }
          h2 {
            text-align: center;
            margin-top: 0;
            margin-left: 0;
            margin-right: 0;
            padding: 0; 
            .dynamic-wrapper {
              span {
                display: none;
                &.is-active {
                  display: inline;
                }
              }
            }
          }
          button {
            display: block;
            margin: 0 auto;
          }
          @keyframes show1 {
            0% { 
              opacity: 0;
              transform: translateX(-50%) translateY(0%);
            }
            100% {
              opacity: 1;
              transform: translateX(-50%) translateY(-50%);
            }
          }
        }
      }
    }
  }
}